#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.profile{
  display:flex;
  flex-direction: row;
}
.premium{
  display:flex;
  flex-direction: row;
  background-color: gold;
}
.oculto{
  display: none;
}
.icon2{
      display: inline-block;
      background-color: #007BFF; /* azul */
      color: white;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 20px; /* bordes redondeados */
      font-family: Arial, sans-serif;
      font-size: 14px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* sombra opcional */
    }



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
